<div class="container">
    <h1 class="text-center">Your Favorite Pokemon</h1>
    <p class="text-center">
      <a href="/pokemon">Favorites</a>
    </p>
  
    <% pokemon.forEach(function(poke) { %>
        <div>
            <h2><%= poke.name %></h2>
        </div>
    <% }); %>
  </div>
  