<div>
    <h1><%= pokemon.name[0].toUpperCase() + pokemon.name.substr(1, pokemon.name.length); %></h1>
    <img src="<%= pokemon.sprites.front_default %>">
    <% let pokeTypes = pokemon.types %> 
    <h4>Type: <% pokeTypes.forEach(type => 
    { %>
        <%= type.type.name[0].toUpperCase() + type.type.name.substr(1, type.type.name.length); %>
    <% }); %>
</div>