<div>
    <h2><%= pokemon.name %></h2>
    <img src="<%= pokemon.sprites.front_default %>">
    <h4>Type: </h4>
    <% pokemon.type.forEach(type => 
    { %>
        <h4><%= type.name %></h4>
    <% }); %>
</div>